.numbersoffiles{
    .quantity{
    color: #DBD9FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .bold{
        font-weight: 700;
    }
    .numberGB{
        color: #DBD9FF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.little__gb{
    color: #0C122C;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
